:root{
    --highlighted-background-colour:#0069E3;
    --nav-colour:#F0F0F0;
    --text-colour:#000000;
    --trans-colour:#00000080;
    --notification-error-colour:#FF0000;
    --notification-success-colour:#00AB1B;
    --notification-warring-colour:#FF8A00;
    --notification-success-colour: var(--highlighted-background-colour);
}